{% extends 'base.html' %} 
{% load static %}
{% block title %}
<title>Index</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4">
      <img src="{% static 'images/stickynote.jpg' %}" width='360' height='250' class="round-lg shadow-sm ">
    </div>

    <div class="col-lg-4">
      <img src="{% static 'images/stickynote.jpg' %}" width='360' height='250' class="round-lg shadow-sm ">
    </div>
    <div class="col-lg-4">
      <img src="{% static 'images/stickynote.jpg' %}" width='360' height='250' class="round-lg shadow-sm ">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-10 offset-md-3">
      <center><p class="h1 text-primary">Quick and Easy To use, Anytime, Anywhere!</p></center>
      <center><p class="h2 mt-3">"Plan your day better, Get your life organized!"</p></center>
      <center><p class="h5">TASKMATE Lets you keep track of your task in one Place </p></center>

      <center><button type="button" class="btn btn-primary btn-lg mt-3 shadowS">Let's Get Started</button></center>
    </div>
  </div>
</div>
{% endblock content %}